@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --text-xxs: 0.625rem;

  --color-fill-level-trace: var(--fill-level-trace);
  --color-stroke-level-trace: var(--stroke-level-trace);
  --color-text-level-trace: var(--text-level-trace);

  --color-fill-level-debug: var(--fill-level-debug);
  --color-stroke-level-debug: var(--stroke-level-debug);
  --color-text-level-debug: var(--text-level-debug);

  --color-fill-level-info: var(--fill-level-info);
  --color-stroke-level-info: var(--stroke-level-info);
  --color-text-level-info: var(--text-level-info);

  --color-fill-level-warn: var(--fill-level-warn);
  --color-stroke-level-warn: var(--stroke-level-warn);
  --color-text-level-warn: var(--text-level-warn);

  --color-fill-level-error: var(--fill-level-error);
  --color-stroke-level-error: var(--stroke-level-error);
  --color-text-level-error: var(--text-level-error);

  --color-fill-level-off: var(--fill-level-off);
  --color-stroke-level-off: var(--stroke-level-off);
  --color-text-level-off: var(--text-level-off);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);

  --fill-level-trace: --alpha(var(--color-gray-500) / 5%);
  --stroke-level-trace: --alpha(var(--color-gray-500) / 15%);
  --text-level-trace: var(--color-gray-700);

  --fill-level-debug: --alpha(var(--color-orange-500) / 10%);
  --stroke-level-debug: --alpha(var(--color-orange-500) / 20%);
  --text-level-debug: var(--color-orange-700);

  --fill-level-info: --alpha(var(--color-sky-500) / 10%);
  --stroke-level-info: --alpha(var(--color-sky-500) / 20%);
  --text-level-info: var(--color-sky-700);

  --fill-level-warn: --alpha(var(--color-amber-500) / 20%);
  --stroke-level-warn: --alpha(var(--color-amber-500) / 30%);
  --text-level-warn: var(--color-amber-700);

  --fill-level-error: --alpha(var(--color-rose-500) / 90%);
  --stroke-level-error: --alpha(var(--color-rose-500) / 100%);
  --text-level-error: var(--color-rose-50);

  --fill-level-off: --alpha(var(--color-gray-600) / 10%);
  --stroke-level-off: --alpha(var(--color-gray-600) / 20%);
  --text-level-off: var(--color-gray-700);
}

:root.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);

  --fill-level-trace: --alpha(var(--color-gray-400) / 10%);
  --stroke-level-trace: --alpha(var(--color-gray-400) / 20%);
  --text-level-trace: var(--color-gray-200);

  --fill-level-debug: --alpha(var(--color-orange-400) / 10%);
  --stroke-level-debug: --alpha(var(--color-orange-400) / 20%);
  --text-level-debug: var(--color-orange-300);

  --fill-level-info: --alpha(var(--color-sky-400) / 10%);
  --stroke-level-info: --alpha(var(--color-sky-400) / 20%);
  --text-level-info: var(--color-sky-300);

  --fill-level-warn: --alpha(var(--color-amber-400) / 35%);
  --stroke-level-warn: --alpha(var(--color-amber-400) / 40%);
  --text-level-warn: var(--color-amber-200);

  --fill-level-error: --alpha(var(--color-rose-600) / 90%);
  --stroke-level-error: --alpha(var(--color-rose-500) / 100%);
  --text-level-error: var(--color-rose-50);

  --fill-level-off: --alpha(var(--color-gray-400) / 10%);
  --stroke-level-off: --alpha(var(--color-gray-400) / 20%);
  --text-level-off: var(--color-gray-200);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }
}

/*@utility flash-border {
  animation: flash-border var(--flash-duration, 500ms) ease-out;
  animation-delay: var(--flash-delay, 0ms);
  animation-fill-mode: both;
}

tr.flash-border {
  animation: none;
}
tr.flash-border > td:first-child {
  @apply flash-border;
}*/

@utility flash-border {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    background: var(--flash-color, var(--color-emerald-500));
    opacity: 0;
    animation: fade-out var(--flash-duration, 500ms) ease-out;
    animation-delay: var(--flash-delay, 0ms);
    animation-fill-mode: both;

    inset-inline-start: var(--flash-left, auto);
    inset-inline-end: var(--flash-right, auto);
    inset-block-start: var(--flash-top, auto);
    inset-block-end: var(--flash-bottom, auto);
    width: var(--flash-w, auto);
    height: var(--flash-h, auto);
  }
}

tr.flash-row > td:first-child {
  @apply flash-border;
}

.flash-border-left {
  --flash-left: 0;
  --flash-top: 0;
  --flash-bottom: 0;
  --flash-w: 5px;
}

@utility flash-color-* {
  --flash-color: --value(--color-*);
}

@utility animate-from-color {
  animation: from-color var(--duration, 500ms) ease-out;
}

@theme {
  --animate-fade-in: fade-in var(--fade-duration, 500ms) ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes flash-border {
    0% {
      box-shadow: inset var(--flash-x, 0) var(--flash-y, 0) 0
        var(--flash-color, var(--color-emerald-500));
    }
    100% {
      box-shadow: inset 0 0 0 transparent;
    }
  }

  @keyframes from-color {
    0% {
      color: var(--from-color, var(--color-emerald-500));
    }
    100% {
      color: inherit;
    }
  }

}
